@page
@model IndexModel

<div class="row justify-content-md-center">

    @foreach (var item in Model.ListaCarros)
    {

        <div class="card col-3 m-3">
            <img src="@item.ImageUri" class="p-3" style="border-radius: 25px">
            <div class="card-body">
                <h5 class="card-title">@item.Modelo</h5>
                @* <p class="card-text">@item.Modelo</p> *@
                <a class="btn btn-primary"
                   asp-page="/Details"
                   asp-route-id="@item.Id">Ver mais</a>
            </div>
        </div>
    }


</div>

@*asp-route-slug="@item.NomeSlug"*@