@page
@model IndexModel


<br />
<p>Bem-vindo à ZCar, o seu destino definitivo para excelência automotiva e serviço excepcional. Na ZCar, estamos comprometidos em oferecer muito mais do que simplesmente veículos de alta qualidade. Somos uma concessionária apaixonada por veículos e por superar as expectativas dos nossos clientes.</p>
<p>Nossa história é forjada pela paixão por automóveis. Na ZCar, unimos essa paixão com uma missão clara: proporcionar uma experiência de compra de automóveis sem igual. Como especialistas no ramo, oferecemos uma ampla gama de veículos cuidadosamente selecionados, que atendem a diversos gostos e necessidades.</p>
<p>O que nos diferencia é o nosso compromisso inabalável com a satisfação do cliente. Na ZCar, não apenas vendemos carros; construímos relacionamentos. Nossos clientes são a essência do nosso negócio e fazem parte da família ZCar. Estamos empenhados em compreender as suas necessidades, oferecer orientação especializada e garantir que cada cliente saia satisfeito.</p>
<p>Além disso, o nosso comprometimento com a qualidade vai além da venda. Oferecemos serviços pós-venda excepcionais, desde manutenção a soluções de financiamento, para assegurar que a sua experiência com a ZCar seja contínua e gratificante.</p>
<p>Na ZCar, a excelência é o nosso padrão. Nossos profissionais altamente qualificados estão sempre prontos para atendê-lo, fornecendo assistência personalizada e conhecimento especializado.</p>
<p>Seja você um entusiasta de carros à procura de uma nova aquisição ou alguém em busca de um veículo confiável para o dia a dia, na ZCar, você encontrará não apenas um carro, mas sim um parceiro que se preocupa com suas necessidades e desejos automotivos.</p>
<p>Junte-se a nós na ZCar, onde a sua jornada automotiva se torna uma experiência excepcional e gratificante. Venha fazer parte da nossa comunidade e descubra um mundo de automóveis que reflete a nossa paixão pela excelência.</p>
<p>Seja bem-vindo à ZCar, onde o seu prazer em dirigir começa.</p>
<br />

<div class="row justify-content-md-center">

    @foreach (var item in Model.ListaCarros)
    {

        <div class="card col-3 m-3">
            <img src="@item.ImageUri" class="p-3" style="border-radius: 25px">
            <div class="card-body">
                <h5 class="card-title">@item.Modelo</h5>
                @* <p class="card-text">@item.Modelo</p> *@
                <a class="btn btn-primary"
                   asp-page="/Details"
                   asp-route-id="@item.Id">Ver mais</a>
            </div>
        </div>
    }


</div>

@*asp-route-slug="@item.NomeSlug"*@